.board {
  margin: auto;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px transparent;
  position: relative;
  transition: box-shadow 0.3s;

  &--row {
    display: flex;
    position: relative;

    &-label {
      width: 30px;
      position: absolute;
      left: -30px;
      line-height: var(--cellSize);
      text-align: center;
      color: #fff;
    }
  }

  &--cell-label {
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    text-align: center;
    color: #fff;
    pointer-events: none;
  }

  &-active {
    box-shadow: 0 0 7px 2px #fff;
  }
}