.board {
  margin: auto;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #fff;

  &--row {
    display: flex;

    &-label {
      width: 30px;
      position: absolute;
      left: -30px;
      line-height: var(--cellSize);
      text-align: center;
      color: #fff;
    }
  }

  &--cell {
    width: var(--cellSize);
    height: var(--cellSize);
    border: 1px solid #000;
    text-align: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: #cccefa;
    }

    &-label {
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      text-align: center;
      color: #fff;
      pointer-events: none;
    }
  }
}