:root {
  --cellSize: 25px;
}

#app {
  background-image: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
  display: flex;
  flex-direction: column;
  font-family: Rubik, serif;
  font-size: 16px;
  color: #fff;
}

main {
  display: flex;
  margin: auto;
  width: 100%;
}