.board-summary {
  position: relative;

  &__inner {
    position: absolute;
    left: 20px;
    top: -20px;
  }

  &--opened {
    &.board-large {
      width: calc(var(--cellSize) * 5 + 45px);
    }

    &.board--default {
      width: calc(var(--cellSize) * 4 + 45px);
    }

    &.board--middle {
      width: calc(var(--cellSize) * 3 + 45px);
    }

    &.board--small {
      width: calc(var(--cellSize) * 2 + 45px);
    }
  }

  .ship {
    margin-right: 5px;
  }

  .ship__container {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
  }
}

h5 {
  margin-bottom: 5px;
  font-size: 13px;

  &.board-summary--left {
    color: #44d444;
  }

  &.board-summary--destroyed {
    color: #fd3b3b;

    .ship__container + & {
      margin-top: 20px;
    }
  }
}